[Unit]
Description = Get Inkbird IBS-TH2 temperature, humidity and battery level and publish to mqtt
After = network.target
StartLimitIntervalSec = 0

[Service]
Type = simple
Restart = always
RestartSec = 5
User = root
ExecStart = /home/pi/scripts/inkbird-ibs-th2/main.py

[Install]
WantedBy = multi-user.target
